<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <script src="https://www.google.com/recaptcha/api.js?hl=fa" async defer></script>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <form action="/users/login" method="POST">
      <div class="login_form_container">
      <div class="login_form">
        <h2>ورود</h2>
        <%- include("./includes/loginMessages.ejs") %>
        <div class="input_group">
          <i class="fa fa-user"></i>
          <input
            type="text"
            name="email"
            placeholder="ایمیل"
            class="input_text"
            autocomplete="off"
          />
        </div>
        <div class="input_group">
          <i class="fa fa-unlock-alt"></i>
          <input
            type="password"
            name="password"
            placeholder="رمز عبور"
            class="input_text"
            autocomplete="off"
          />
        </div>
        <div class="checkbox mt-3">
          <label>
              <input type="checkbox" name="rememberMe"> مرا به خاطر بسپار
          </label>
        </div>
        <div class="g-recaptcha" data-sitekey="6Le4vjonAAAAAB0I59UmmAxjwKY-ttO-2KUZFtsG"></div>
        <div class="button_group" id="login_button">
          <input type="submit" id="loginBtn" value="ورود">
        </div>
        <div class="fotter">
          <a href="/users/forget-password">فراموشی رمز عبور</a>
          <a href="/users/register">ثبت نام</a>
        </div>
      </div>
    </div>
    </form>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>