
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="stylesheet" href="/css/resetPass.css" />
  </head>
  <body>
    <form action="/users/reset-password/<%= userId %>" method="POST">
      <div class="login_form_container">
      <div class="login_form">
        <h2>بازنشانی رمز عبور</h2>
        <%- include("./includes/loginMessages.ejs") %>
        <div class="input_group">
          <i class="fa fa-user"></i>
          <input
            type="password"
            name="password"
            placeholder="پسوورد"
            class="input_text"
            autocomplete="off"
          />
        </div>
        <div class="input_group">
            <i class="fa fa-user"></i>
            <input
              type="password"
              name="confirmPassword"
              placeholder="تکرار پسوورد"
              class="input_text"
              autocomplete="off"
            />
          </div>
        <div class="button_group" id="login_button">
          <input type="submit" id="loginBtn" value="ارسال لینک">
        </div>
        
      </div>
    </div>
    </form>
    

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/login.js"></script>
  </body>
</html>