@font-face {
  font-family: 'Vazir-Bold';
  src: url('../fonts/Vazir-Bold.ttf') format('truetype')
}

@font-face {
  font-family: 'Vazir';
  src: url('../fonts/Vazir.ttf') format('truetype')
}

body{
  font-family: 'Vazir' , sans-serif;
  font-size: 17px;
  font-weight:550;
  
}

.container {
    font-family: 'Vazir' , sans-serif;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .post {
    font-family: 'Vazir' , sans-serif;
    background-color: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .post-title {
    font-family: 'Vazir-Bold' , sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .post-meta {
    font-family: 'Vazir' , sans-serif;
    color: #888;
    margin-bottom: 10px;
  }
  
  .post-meta span {
    font-family: 'Vazir' , sans-serif;
    margin-right: 10px;
  }
  
  .post-content {
    font-family: 'Vazir' , sans-serif;
    line-height: 1.6;
  }