
<h3 class="mt-2 text-center">ساخت پست جدید</h3>
<div class="d-flex align-items-center justify-content-center">
    <form action="/dashboard/create-post" method="POST" class="w-50" enctype="multipart/form-data">
        <%- include("../includes/validationErrors.ejs") %>
        <label for="selectThumbnail">انتخاب تصویر بند انگشتی</label>
        <div class="input-group mb-3">
            <div class="custom-file">
                <input type="file" class="custom-file-input" name="thumbnail" id="selectThumbnail">
                <label id="thumbnailStatus" class="custom-file-label" for="selectThumbnail">
                    تصویر موردنظر را انتخاب کنید
                </label>
            </div>
        </div>
        
        <div class="form-group">
            <label for="title">عنوان پست</label>
            <input
                type="text"
                class="form-control w-50"
                name="title"
                id="title"
            />
        </div>

        <div class="form-group">
            <label for="status">وضعیت</label>
            <select name="status" class="form-control w-25" id="status">
                <option value="public" selected>عمومی</option>
                <option value="private">خصوصی</option>
            </select>
        </div>
                
        <div class="form-group">
            <h5>متن اصلی پست</h5>
            <textarea name="body" class="form-control" id="body"></textarea>
        </div>
        
        <div class="row">
            <input type="submit" value="ساخت پست" class="btn btn-success m-2" />
            <a href="/dashboard" class="btn btn-warning m-2">انصراف</a>
        </div>
    </form>
    <script src="//cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
    <script src="/js/ckeditor.js"></script>
</div>

